/* .container-profile-card {
    border-radius: 10px;
    margin: 5px;
    position: relative;
    min-width: 250px;
    max-width: 250px;
    height: 320px;
    border: 1px solid #181717;
    border-bottom: 5px solid rgba(3, 10, 34, 0.979);
    box-shadow: 2px 2px 12px #9c9c9c;
}

.container-profile-card .profile-card-header h2 {
    text-align: center;
}
.container-profile-card .profile-card-header h4 {
    text-align: center;
}
.container-profile-card .overlay-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(3, 10, 34, 0.979);
    overflow: hidden;
    width: 200px;
    height: 0;
    transition: 0.5s ease;
    color: #fff;
}
.container-profile-card .overlay-card p span {
    cursor: pointer;
    border-bottom: 1px solid #fff;
}
:hover .overlay-card {
    opacity: 0.8;
    top: 0;
    height: 100%;
} */
