* {
  margin: 0;
  padding: 0;
}

.container-navbar {
  width: 100%;
  height: 45px;
}

.container-navbar nav {
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 45px;
  width: 100%;
  background: #34373f;
  border-bottom: 2px solid #6c95d3;
}

.container-navbar nav h2 {
  margin: 0 25px;
  letter-spacing: 2px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.container-navbar nav h2 span {
  color: #57a8df;
}

.container-navbar nav h2 span span {
  font-size: 16px;
}

.container-navbar nav #menu-hamburger,
.container-navbar nav label {
  display: none;
}

.container-navbar nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.container-navbar nav ul > li {
  position: relative;
  display: inline-block;
  padding: 10px 5px;
  box-sizing: border-box;
  width: 160px;
}

.container-navbar nav ul > li a {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 100%;
}

.container-navbar nav ul > li a span {
  font-size: 8px;
}

.container-navbar nav ul > li .sub-menu {
  background-color: #34373f;
  position: absolute;
  width: 100%;
  top: 38px;
  left: 0;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.container-navbar nav ul > li .sub-menu > li:hover {
  background-color: #4e525e;
}

.container-navbar nav ul > li:hover {
  background-color: #4e525e;
  transition: 600ms;
  -webkit-transition: 600ms;
  cursor: pointer;
}

.container-navbar nav ul li:hover .sub-menu {
  visibility: visible;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background-color: #111;
}

.footer .image-logo {
  position: absolute;
  width: 120px;
  height: 200px;
  left: 0;
}

.footer .content-footer {
  font-family: 'Courier New', Courier, monospace;
  width: 80%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .content-footer .title {
  height: 20%;
}

.footer .content-footer .title h3 {
  color: #fff;
  font-size: 2em;
  text-align: center;
  letter-spacing: .2em;
}

.footer .content-footer .title h3 span {
  font-size: 10px;
}

.footer .content-footer .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
}

.footer .content-footer .menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.footer .content-footer .menu ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}

.footer .content-footer .menu ul li:hover {
  font-weight: bold;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.footer .content-footer .social-media {
  width: 60%;
  height: 20%;
  margin: 0 auto;
}

.footer .content-footer .social-media ul {
  margin: auto;
  width: 40%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer .content-footer .social-media ul li fa-icon {
  color: #fff;
}
/*Movil */
@media screen and (max-width: 768px) {
  .container-navbar {
    height: auto;
  }

  .container-navbar .navbar h2{
    float: left;
  }

  
  .container-navbar .navbar label{
    margin-right: 1%;
    display:block;
    color: #000;
    background: #d8d8d8;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  .container-navbar .navbar .menu {
    display: none;
    width: 100%;
    background-color: #34373f;
  }

  .container-navbar .navbar ul > li {
    display: block;
    border-top: 1px solid black;
    width: 100%;
    text-align: center;
   
  }
  .container-navbar .navbar ul > li .sub-menu {
    position: inherit;
    margin-top: 10%;
    
  }
  .container-navbar .navbar input:checked ~ ul {
    position: fixed;
    margin-top:35%;
	  display:block;
    
  }

  
  .footer {
    height: 50vh;
  }

  .footer .content-footer .menu {
    height: auto;
  }

  .footer .content-footer .menu ul {
    flex-direction: column;
  }

  .footer .content-footer .menu ul li {
    margin: 10px 0;
  }
}

/*Max width*/
@media screen and (min-width: 1920px) {
  .container-navbar .navbar {
    margin: auto;
    height: 100px;
    width: 100%;
  }

  .container-navbar .navbar ul {
    width: 100%;
    background-color: #34373f;
  }
}

.footer img{
  width: 33%;
}

.footer .logo{
  width: 15%;
  height: 80%;
  margin-top: 15px;
}